<div class="bl_popular col-xs-9">
  <h2 class="bl_popular__title">{{t heading}}</h2>
  <span class="bl_popular__slide-arrow left"></span>
  <span class="bl_popular__slide-arrow right"></span>
  <div class="bl_popular__slider"><span class="bl_popular__changer"></span></div>
  
  <ul>
    {{#each chunk in data}}
      <a href="#" class="bl-catalog__day__link col-xs-4">
        <div class="bl-catalog__day__inner _popular">
          <p class="bl-catalog__day__new">{{t 'new_item'}}</p>
          <img class="bl-catalog__day__img _popular" src="{{chunk.img}}" alt="">
          <p class="bl-catalog__day__item_title">{{{chunk.title}}}</p>

          {{#if chunk.cat}}
            <p class="bl-catalog__day__item_category _popular">{{chunk.cat}}</p>   
          {{/if}}
          
          {{#if chunk.vendor}}
            <p class="bl-catalog__day__item_category _popular">{{chunk.vendor}}</p>
          {{/if}}

          {{#if chunk.price}}
            <p class="bl-catalog__day__item_price">{{chunk.price}} {{t 'UAH'}}.</p>
          {{/if}}

        </div>
      </a>      
    {{/each}}
  </ul>

</div>
{{yield}}
