<div class="main-wrapper">
  
  {{#nashe-header}}
    {{nashe-header/header-city model=model.cities}}
    {{nashe-header/header-lang}}
    <div class="bl-location__cabinet">
      {{nashe-header/header-auth-state onLogout="logout"}}
      {{#link-to 'master.favourite' class="bl-location__link favorite"}}
        {{t 'header.favorite'}}
      {{/link-to}}
    </div>
  {{/nashe-header}}

  <div class="content">
    
      {{outlet}}
    
  </div>
  <div class="buffer"></div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      {{nashe-footer}}
    </div>
  </div>
</footer>