<div class="bl-slider col-xs-9">
  <ul class="bxslider">
    {{#each slide in slides}}
    <li class="bl-slider__item">
      <div class="bl-slider__block-text">
          <h2 class="bl-slider__title">{{{slide.title}}}</h2>
          <p class="bl-slider__text">{{{slide.content}}}</p>
          {{#link-to slide.url class="bl-slider__link"}}
            {{t 'show_more'}}
          {{/link-to}}
      </div>
      <img class="bl-slider__img" src="{{slide.img}}" alt="">
    </li>
    {{/each}}
  </ul>
</div>
{{yield}}
