<div class="bl-catalog__day__item">
  <a href="" class="bl-catalog__day__link">
    <div class="bl-catalog__day__inner">
      <p class="bl-catalog__day__new">{{t 'new_item'}}</p>
      <img class="bl-catalog__day__img" src="img/cup.png" alt="">
      <p class="bl-catalog__day__item_title">{{{data.title}}}</p>
      <p class="bl-catalog__day__item_category">{{data.vendor}}</p>
      <p class="bl-catalog__day__item_price">{{data.price}} {{t 'UAH'}}.</p>
    </div>
  </a>
</div>
{{yield}}
